<!doctype html>
<html>

    <title>Portal Administratora</title>

    <div class="content">
        <h1 style="text-align: center">Portal Administratora</h1>
        <table style="width:100%">
            <tr>
                <th><button type="button">Edycja danych o parkingu</button></th>
                <th><button type="button">Edycja danych o mandatach</button></th>
                <th><button type="button">Generowanie raportów</button></th>,
                <th><button type="button">Wyloguj się</button></th>
            </tr>
        </table>
    </div>
</html>